ul {
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none !important;
  color: black !important;
}

body {
  background: rgb(252, 248, 254);
  background: linear-gradient(65deg, rgba(252, 248, 254, 1) 0%, rgba(252, 0, 18, 1) 0%, rgba(59, 46, 245, 1) 100%);
}